@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:wght@400;700&display=swap');

/* font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif; */

:root {
    --header-overlay: rgb(41,48,17);
    --main-bg: rgb(21,30,8);
    --info-overlay: rgb(2,25,30);
    --button-bg: rgb(61,72,16);
    --text-red: rgb(255,65,65);
    --text-blue: rgb(74,87,201);
    --text-yellow: rgb(233,248,58);
}

html {
    font: 100%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    width: 100%;
    background-image: url(img/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 2000px rgba(41,48,17, 0.4);
    
    min-height: auto;
    display: flex;
    flex-direction: column;
}

.favicon {
    max-width: 30px;
}

a {
    text-decoration: none;
    color: #fff;
}

.nav-links {
    list-style-type: none;
    font-family: 'Lato', sans-serif;
    display: flex;
    gap: 25px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 49px 129px 0 149px;
}

#span-more {
    color: var(--text-red);
}

#span-fun {
    color: var(--text-blue);
}

#span-ph {
    color: var(--text-yellow);
}

.hero-section {
    color: #fff;
    padding: 200px 272px 200px 182px;
    display: flex;
    flex-direction: column;
    align-self: center;
    /* position: absolute;
    top: 50%;
	transform: translateY(-50%); */
}

.hero-main {
    font-family: 'Montserrat', sans-serif;
    font-size: 7rem;
}

.hero-sub {
    font-family: 'Lato', sans-serif;
    font-size: 1.9rem;
}



