@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:wght@400;700&display=swap');

/* font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif; */

:root {
    --header-overlay: rgb(41,48,17);
    --main-bg: rgb(21,30,8);
    --info-overlay: rgb(2,25,30);
    --button-bg: rgb(61,72,16);
    --text-red: rgb(255,65,65);
    --text-blue: rgb(74,87,201);
    --text-yellow: rgb(233,248,58);
}

/* ============ CSS RESETS ============ */

html {
    font: 100%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ============ HEADER ============ */

.header {
    width: 100%;
    background-image: url(img/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 2000px rgba(41,48,17, 0.4);
    
    min-height: auto;
    display: flex;
    flex-direction: column;
}

.favicon {
    max-width: 30px;
}

a {
    text-decoration: none;
    color: #fff;
}

.nav-links {
    list-style-type: none;
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: flex-end;
    gap: 25px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.063rem 8.063rem 0 9.313rem;
}

.span-red {
    color: var(--text-red);
}

.span-blue {
    color: var(--text-blue);
}

.span-yellow {
    color: var(--text-yellow);
}

.hero-section {
    color: #fff;
    padding: 12.5rem 17rem 12.5rem 11.375rem;
    display: flex;
    flex-direction: column;
    align-self: center;
    /* position: absolute;
    top: 50%;
	transform: translateY(-50%); */
}

.hero-main {
    font-family: 'Montserrat', sans-serif;
    font-size: 7rem;
}

.hero-sub {
    font-family: 'Lato', sans-serif;
    font-size: 1.9rem;
}

/* ============ MAIN CONTENT - TOURIST SPOTS ============ */

.tourist-section {
    background-color: var(--main-bg);
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
}

#subheader {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 1.8rem;
}

#heading {
    font-weight: 700;
    font-size: 3rem;
}

.tourist-header {
    text-align: center;
    margin: 8.938rem 0 3.813rem 0;
}

.tourist-img {
    max-width: auto;
    max-height: 228.661px;
    transform: translateX(-20%);
}

.tourist-img.img-siargao {
    transform: translateX(-10%);
}

.tourist-img.img-hills {
    transform: translateX(-12%);
}

.img-cont {
    max-width: 240px;
    max-height: 228.661px;
    overflow: hidden;
    border-radius: 7px;
    border: 2px solid var(--White, #FFF);
    background-repeat: no-repeat;
}

.tourist-spot {
    font-weight: 700;
    font-size: 1.56rem;
    margin: 1.188rem 0 0.313rem 0;
}

.tourist-content {
    display: flex;
    flex-wrap: wrap;
    gap: 54px;
    justify-content: center;
    margin-bottom: 10.875rem;
}

.boracay,
.choco-hills,
.siargao,
.vigan {
    text-align: center;
}




