@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:wght@400;700&display=swap');

/* font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif; */

:root {
    --header-overlay: rgb(41,48,17);
    --main-bg: rgb(21,30,8);
    --info-overlay: rgb(2,25,30);
    --button-bg: rgb(61,72,16);
    --text-red: rgb(255,65,65);
    --text-blue: rgb(74,87,201);
    --text-yellow: rgb(233,248,58);
}

/* ============ CSS RESETS ============ */

html {
    font: 100%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
}

/* ============ HEADER ============ */

.header, .footer {
    width: 100%;
    background-image: url(img/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 2000px rgba(41,48,17, 0.4);
    
    min-height: auto;
    display: flex;
    flex-direction: column;
}

.favicon {
    max-width: 30px;
}

a {
    text-decoration: none;
    color: #fff;
}

.menu {
    list-style-type: none;
    font-family: 'Lato', sans-serif;
    display: flex;
    margin-left: 37rem;
    font-weight: bold;
    gap: 25px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.063rem 0 0 9.313rem;
}



.span-red {
    color: var(--text-red);
}

.span-blue {
    color: var(--text-blue);
}

.span-yellow {
    color: var(--text-yellow);
}

.hero-section {
    color: #fff;
    padding: 16.75rem 17rem 16.75rem 11.375rem;
    display: flex;
    flex-direction: column;
    align-self: center;
    /* position: absolute;
    top: 50%;
	transform: translateY(-50%); */
}

.hero-main {
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px 2px #000;
    font-size: 7rem;
}

.hero-sub {
    text-shadow: 2px 2px 2px #000;
    font-family: 'Lato', sans-serif;
    font-size: 1.9rem;
}

/* ============ MAIN CONTENT - TOURIST SPOTS ============ */

.main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.tourist-section {
    background-color: var(--main-bg);
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: auto;
}

#subheader {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 1.8rem;
}

#heading {
    font-weight: 700;
    font-size: 3rem;
}

.tourist-header {
    text-align: center;
    margin: 8.938rem 0 3.813rem 0;
}

.tourist-img {
    max-width: auto;
    max-height: 228.661px;
    transform: translateX(-20%);
}

.tourist-img.img-siargao {
    transform: translateX(-10%);
}

.tourist-img.img-hills {
    transform: translateX(-12%);
}

.img-cont {
    max-width: 240px;
    max-height: 228.661px;
    overflow: hidden;
    border-radius: 7px;
    border: 2px solid var(--White, #FFF);
    background-repeat: no-repeat;
}

.tourist-spot {
    font-weight: 700;
    font-size: 1.56rem;
    margin: 1.188rem 0 0.313rem 0;
}

.tourist-content {
    display: flex;
    flex-wrap: wrap;
    gap: 54px;
    justify-content: center;
    margin-bottom: 10.875rem;
}

.boracay,
.choco-hills,
.siargao,
.vigan {
    text-align: center;
}

/* ============ MAIN CONTENT - WRITEUP ============ */

.writeup {
    background-image: url(img/bg-two.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 2000px rgba(0,0,0, 0.4);
    min-height: auto;

    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 25px;

    padding: 9.688rem 10.625rem;
}

.writeup-container {
    background-color: rgba(2,25,30, 0.7);
    max-width: 68.813rem;
    margin: 0 auto;
    padding: 6.125rem 4.875rem;

    display: flex;
    flex-direction: column;
    gap: 30px;

    text-align: center;
    line-height: 150%;
}

.writeup-header,
.writeup-end,
.writeup-body {
    font-style: italic;
    text-shadow: 2px 2px 2px #000; 
}

.writeup-header {
    font-weight: 800;
}

.writeup-end {
    padding: 0 9.375rem;
}

.writeup-body {
    font-style: normal;
    text-shadow: 2px 2px 2px #000;
}

/* ============ MAIN CONTENT - SIGN UP ============ */

.sign-up {
    background-color: var(--main-bg);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    padding: 7rem;
    min-height: auto;
}

.sign-up-cont {
    background-color: var(--button-bg);
    max-width: 1216px;
    flex-shrink: 0;
    display: flex;
    padding: 3rem 4.5rem;
    border-radius: 10px;
    gap: 7.125rem;
}

.sign-up-text {
    line-height: 190%; /* 34.1px */
}

.sign-up-header {
    font-size: 1.563rem;
    font-weight: 700;
}

.sign-up-sub {
    font-size: 1.25rem;
    font-weight: 400;
}

.sign-up-btn {
    font: inherit;
    padding: 1.25rem 2.188rem;
    border-radius: 10px;
    background: none;
    outline: none;
    border: 2px solid #fff;
    color: #fff;
}


/* ============ FOOTER ============ */ 

.footer {  
    min-height: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}

.footer-attribution {
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
    
    font-size: 1.563rem;
    font-style: italic;
    font-weight: 500;

    padding: 114px 448px;
}

@media (max-width: 425px) {
    /* Styles for extra small devices */

    /* body {
        overflow-x: hidden !important;
    }
    
    .container {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }

    .main-content {
        padding: 0;
        margin: 0;
    } */
    
    .nav {
        padding: 3.1rem 2rem;
    }
    
    /* ============== HAMBURGER MENU ============== */
    .menu {
        font-size: 0.8rem;
        position: absolute;
        top: 0;
        /* right: -50%;
        transition: right 0.4s; */
        display: none;
    }
    
    .menu.show {
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 0 5.3rem 0 3rem;
        padding-top: 3rem;
        height: 100%;
    }
    
    .menu.menu.show {
        display: block;
    }
    
    .menu li {
        margin-bottom: 20px;
    }
    
    .menu a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        padding-top: 1rem;
        position: absolute;
        top: 27px;
        right: 30px;
    }

    .bar {
        width: 30px;
        height: 3px;
        background-color: #fff;
        margin: 3px 0;
        transition: transform 0.4s, opacity 0.4s;
    }

    /* ============== HAMBURGER MENU ============== */

    .favicon {
        max-width: 20px;
    }

    .header, .footer {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .hero-section {
        padding: 5rem 8rem 10rem 5rem;
    }
    
    .hero-main {
        font-size: 3rem;
    }
    
    .hero-sub {
        font-size: 1rem;
    }

    .tourist-header {
        text-align: center;
        margin: 5rem 2.3rem 3rem 3rem;
    }

    #subheader {
        font-size: 1rem;
    }
    
    #heading {
        font-weight: 700;
        font-size: 2rem;
    }

    .img-cont {
        max-width: 200px;
        max-height: 180px;
    }
    
    .tourist-spot {
        font-weight: 700;
        font-size: 1.26rem;
        margin: 0.7rem 0 0.313rem 0;
    }
    
    .tourist-content {
        margin-bottom: 8rem;
    }
    
    .tourist-loc {
        font-size: 0.9rem;
    }

    .writeup {
        font-size: 1rem;
        padding: 7rem 1.5rem;
        margin: 0;
    }
    
    .writeup-container {
        max-width: 100%;
        padding: 3rem;
        line-height: 150%;
    }

    .writeup-end {
        padding: 0;
    }

    .sign-up {
        padding: 3rem;
    }
    
    .sign-up-cont {
        /* max-width: 100%; */
        margin: 0;
        padding: 1rem;
        border-radius: 10px;
        gap: 1.5rem;
        align-items: center;
    }
    
    .sign-up-text {
        line-height: 1.5;
    }
    
    .sign-up-header {
        font-size: 0.6rem;
        font-weight: 700;
    }
    
    .sign-up-sub {
        font-size: 0.5rem;
        font-weight: 400;
    }
    
    .sign-up-btn {
        padding: 0.5rem 1rem;
        font-size: 0.5rem;
    }

    .footer-attribution {
        font-size: 1rem;
        padding: 3rem;
    }
}